body {
  font-family: sans-serif;
  margin: 2rem;
}

#search {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#results div {
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.links-box {
  display: flex;
  width: stretch;
  flex-direction: row;
  margin-bottom: 1em;
}

.links-col {
  display: flex;
  width: stretch;
  flex-direction: column;
}

.link {
  width: stretch;
  text-align: center;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.5em;
  border-radius: 2em;
  text-decoration: none;
}

.github {
  background-color: #eee;
  color: #000;
}

.discord {
  background-color: #5966f2;
  color: #fff;
}

.forms {
  background-color: #080;
  color: #fff;
}

.entry {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 0;
}

.entry summary {
  cursor: pointer;
}

.entry summary::-webkit-details-marker {
  margin-right: 0.5em;
}

.entry p {
  margin: 0.5em 0 0 1.5em;
}

.quotation {
  background-color: #eee;
  border-radius: 4px;
  margin-top: 0.5em;
  margin-left: 1.5em;
}

blockquote {
  margin-left: 0;
}

.source {
  text-align: right;
  padding-bottom: 0.5rem;
}

.note {
  font-size: smaller;
  color: #888;
  font-style: italic;
}

.wtype {
  border-radius: 1em;
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.cmavo {
  color: #000000;
  background-color: #f4d03f;
  border-color: #d4ac0d;
}

.gismu {
  color: #FFFFFF;
  background-color: #2ecc71;
  border-color: #239b56;
}

.lujvo {
  color: #FFFFFF;
  background-color: #3498db;
  border-color: #2e86c1;
}

.fuhivla {
  color: #FFFFFF;
  background-color: #9b59b6;
  border-color: #76448a;
}
